<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <div>
{#            {% for i in form.type %}#}
                                <input type="radio" name="type" id="{{ i.id_for_label }}" value="{{ i.id_for_label }}">
                                <label for="{{ i.id_for_label }}">{{ i.label }}</label>
{#                <div>#}
{#                    {{ i.label_tag }}#}
{#                </div>#}
{#            {% endfor %}#}
{{ form.type.label }}
{{ form.type }}
            {#            {% for i, e in form.type.choices %}#}
            {#                {{ e }} {{ i }}#}
            {#                <input class="form-check-input" type="radio" name="type" id="{{ e }}" value="{{ i }}">#}
            {#                                       checked=        {%   i == form.type.initial %}>#}
            {#                <label class="form-check-label" for="{{ e }}">{{ e }}</label>#}
            {#            {% endfor %}#}
        </div>
    </div>
    {#        {{ form }}#}
    <input type="submit" value="Submit">
</form>
</body>
</html>