<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../static/bootstrap-4.6.0/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap-4.6.0/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Liste des auteurs</title>
</head>
<body>
<h1>Auteurs :</h1>
<ul>
    {% for author in my_list %}
        <li class="list-group-item list-group-item-action list-group-item-primary"><a
                href="/bookshelv/{{ author.id }}/">{{ author.lastname }}, {{ author.firstname }} </a></li>
    {% endfor %}
</ul>
</body>
</html>