<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="../../static/bootstrap-4.6.0/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap-4.6.0/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <title>Composition de la bibliothèque</title>
</head>
<body>
<div class="container" style="margin-top: 2%;">
    <div class="row">
        <h1 class="col-3 align-self-left">Auteurs :</h1>

        <div class="col-3 align-self-right input-group">
            <div id="search-autocomplete" class="form">
                <input type="search" id="form1" class="form-control"/>
            </div>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <h1 class="col-6 align-self-center">Livres :</h1>
    </div>
    {% for author, book in formatted_list %}
    <div class="row">
        <div class="col-6 align-self-start">
            {% if forloop.counter == 1 %}
            <a class="align-self-start list-group-item list-group-item-action list-group-item-info rounded-top"
               href="/bookshelv/{{ author.id }}/">
                {{ author }}</a>
            {% else %}
            {% if forloop.counter < nb_authors %}
            <a class="align-self-start list-group-item list-group-item-action list-group-item-info rounded-0"
               href="/bookshelv/{{ author.id }}/">
                {{ author }} </a>
            {% else %}
            {% if forloop.counter == nb_authors %}
            <a class="align-self-start list-group-item list-group-item-action list-group-item-info rounded-bottom"
               href="/bookshelv/{{ author.id }}/">
                {{ author }} </a>
            {% else %}
            <a class="align-self-start list-group-item list-group-item-action list-group-item-info invisible"
               href="/bookshelv/{{ author.id }}/">
                {{ author }}
            </a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="col-6 align-self-start">
            {% if forloop.counter == 1 %}
            <li class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-top">
                <a href="/bookshelv/{{ author.id }}/">
                    {{ book }} </a>
                {% else %}
                {% if forloop.counter < nb_books %}
            <li class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-0">
                <a href="/bookshelv/{{ author.id }}/">
                    {{ book }} </a>
                {% else %}
            <li class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-bottom">
                <a href="/bookshelv/{{ author.id }}/">
                    {{ book }} </a>
                {% endif %}
                {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
<footer class="footer">
    <div class="container" style="margin-bottom: 7%;"></div>
</footer>
<script type="js">


</script>
</html>