{% for series in series_list %}
<div class="row">
    <div class="align-self-start">
        {% if forloop.counter == 1 and nb_series == 1 %}

        <button class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded"
                onclick="document.getElementById('form-series').value='{{ series }}';searchSeries('{{ series | safe }}')">
            {{ series | safe }}
        </button>
        {% else %}
        {% if forloop.counter == 1 %}
        <button class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-top"
                onclick="document.getElementById('form-series').value='{{ series }}';searchSeries('{{ series | safe }}')">
            {{ series | safe  }}
        </button>
        {% else %}
        {% if forloop.counter < nb_series %}
        <button class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-0"
                onclick='console.log("{{ series | safe }}");document.getElementById("form-series").value="{{ series }}";searchSeries("{{ series | safe }}")'>
            {{ series | safe  }}
        </button>
        {% else %}
        <button class="align-self-start list-group-item list-group-item-action list-group-item-secondary rounded-bottom"
                onclick="document.getElementById('form-series').value='{{ series }}';searchSeries('{{ series | safe }}')">
            {{ series | safe  }}
        </button>
        {% endif %}
        {% endif %}
        {% endif %}

    </div>
</div>
{% endfor %}
